
/* remove default margin */
body, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Prevent font size adjustments after orientation changes in IE and iOS */
html {
    -webkit-text-size-adjust: 100%;
}

/* box-sizing */
body {
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;  // ios scroll smooth when body height 100%
}
body *,
body *:before,
body *:after {
    box-sizing: inherit;
}

/* tap-highlight-color */
input, select, textarea, button, a, label {
    -webkit-tap-highlight-color: transparent;
}

/* href color */
a {
    color: inherit;
    text-decoration: none;
}

/* button style */
button {
    border: 0;
    outline: 0;
}

input {
    border: 0;
    outline: 0;
}


ul, ol {
    margin: 0;
    padding: 0;
}

img, video {
    border-style: none;
    max-width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

textarea {
    outline: 0;
}


